*{
    box-sizing: border-box;
}
body {
    width: 1280px;
    height: 1018px;
    background: #FFFFFF;
}
header {
    width: 1280px;
    margin-top: 130px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
}
.ferst_leter{
    font-family: "Montserrat" sans-serif ;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    color: #898F99;
}
h1 {
    font-family: "Montserrat" sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 5px;
    color: #0EC8CB;
}
.two_letter {
    font-family:"PT Sans" sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #999999;
}
.main{
    margin: 90px auto;
}
td:hover{
    background: #0EC8CB;
    border: 1px solid #0EC8CB;
}
td:hover p{
    color: white;
}
td:hover h2 {
    color: white;
}

.logo1:hover {
    background-image: url(//img/anchor.white.png) no-repeat center center ;
}
/* .diamond:hover{
    background-image: url(//img/diamond.white.png) no-repeat center center ; 
} */

.anchor {
    width: 240px;
    height: 420px;
    background: #F7F7F7;
    border: 1px solid #ECECEC;
    text-align: center;
    padding-top: 55px;
}
.diamond {
    width: 240px;
    height: 420px;
    background: #F7F7F7;
    border: 1px solid #ECECEC;
    text-align: center;
    padding-top: 55px;
}
.graphics {
    width: 240px;
    height: 420px;
    background: #F7F7F7;
    border: 1px solid #ECECEC;
    text-align: center;
    padding-top: 55px;
}
.illustrations {
    width: 240px;
    height: 420px;
    background: #F7F7F7;
    border: 1px solid #ECECEC;
    text-align: center;
    padding-top: 55px;
}
h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #1B1B1B;
    font-family:"Montserrat" sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
}
p {
    color: #777777;
    text-align: center;
    font-family: "PT Sans" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px
}
